# Python байткод
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение
venv/
.env

# Настройки IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.override.yml
*.log

# Временные файлы
*.sqlite3
*.db
*.pot
*.mo
*.bak
*.tmp

# Сгенерированные статические файлы и медиа
static/
media/

# Системные файлы
.DS_Store
Thumbs.db