{% extends 'core/base.html' %}

{% block content %}
    <div class="container mt-5" style="max-width: 400px;">
        <h2 class="mb-4">Вход</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username">Имя пользователя</label>
                <input type="text" name="username" class="form-control form-control-sm" required>
            </div>
            <div class="mb-3">
                <label for="password">Пароль</label>
                <input type="password" name="password" class="form-control form-control-sm" required>
            </div>
            <button type="submit" class="btn btn-primary btn-sm w-100">Войти</button>
            <div class="mt-4 text-center">
                <p class="text-sm text-gray-600">
                    Не получили письмо активации?
                    <a href="{% url 'users:resend_activation' %}" class="text-blue-600 hover:underline">
                        Отправить письмо повторно
                    </a>
                </p>
            </div>
        </form>
    </div>
{% endblock %}